@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

span {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-size: .85rem;
}

.title-page {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 50px;
}